<a href="https://colab.research.google.com/github/Mariangelareyes/1742-HTML5-y-CSS3-parte1/blob/master/Desafio1Mrc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Escuela de Datos Alura")

Escuela de Datos Alura

2 - Imprime tu nombre y tu apellido siguiendo la estructura a continuación:

In [2]:
print ("Nombre: Mariangela" )
print ("Apellido: Reyes")

Nombre: Mariangela
Apellido: Reyes

 3 - Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Mariangela, la salida sería:

In [3]:
print("M")
print("A")
print("R")
print("I")
print("A")
print("N")
print("G")
print("E")
print("L")
print("A")

M
A
R
I
A
N
G
E
L
A

4 - Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas.

In [5]:
print(22, 'abril', 1972)

22 abril 1972

5 - Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico.

In [6]:
print('Año actual: ', 2025)

Año actual:  2025